RewriteEngine On 
#RewriteCond %{SERVER_PORT} 80
#RewriteCond %{https_HOST} ^(www\.)?ropeyou\.in
#RewriteRule ^(.*)$ https://ropeyou.in/$1 [R,L]
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "https://ropeyou.in"
	Header set X-Frame-Options "SAMEORIGIN"
</IfModule>
php_value session.cookie_httpsonly 1
php_value session.cookie_secure 1
ErrorDocument 404 /404.php

RewriteRule ^ru/(.*)$ profile.php?__username=$1 [L,NC]
RewriteRule ^@rub-(.*)$ blog-detail.php?blog_tag=$1 [L,NC]
RewriteRule ^job/(.*)$ job.php?job_tag=$1 [L,NC]
RewriteRule ^jobs/(.*)$ jobs.php?filter=$1 [L,NC]


RewriteRule ^blog-space/(.*)/(.*)/(.*)/(.*)$ blog-space-route.php?_page=$1&_function=$2&_sub_function=$3&_extra=$4 [L,NC]
RewriteRule ^blog-space/(.*)/(.*)/(.*)$ blog-space-route.php?_page=$1&_function=$2&_sub_function=$3 [L,NC]
RewriteRule ^blog-space/(.*)/(.*)$ blog-space-route.php?_page=$1&_function=$2 [L,NC]
RewriteRule ^blog-space/(.*)$ blog-space-route.php?_page=$1 [L,NC]

RewriteRule ^browse/(.*)$ global-search-page.php?search=$1 [L,NC]
RewriteRule ^browse$ global-search-page.php [L,NC]

RewriteRule ^blogger/@(.*)$ blogger.php?__username=$1 [L,NC]
RewriteRule ^w/(.*)$ web-pages/index.php?__username=$1 [L,NC]
RewriteRule ^u/(.*)/(.*)$ user-pages.php?__username=$1&__module=$2 [L,NC]
RewriteRule ^u/(.*)$ user-pages.php?__username=$1 [L,NC]
RewriteRule ^ru-comp/(.*)$ company.php?__comp_tag=$1 [L,NC]
RewriteRule ^usr/(.*)$ user-profile-without-ads.php?__username=$1 [L,NC]
RewriteRule ^p/(.*)$ page-detail.php?__username=$1 [L,NC]
RewriteRule ^resume/(.*)$ web-pages/resume.php?__username=$1 [L,NC]

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^([^\.]+)$ $1 [NC,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]